---

---

<header>
    <a href="/vtubers/haato-akai">
        <div id="vtuber" class="haato"></div>
    </a>
    <a href="/vtubers/choco-yuzuki">
        <div id="vtuber" class="choco"></div>
    </a>
    <a href="/vtubers/marine-houshou">
        <div id="vtuber" class="marine"></div>
    </a>
    <a href="/vtubers/noel-shirogane">
        <div id="vtuber" class="noel"></div>
    </a>
    <a href="/vtubers/lamy-yukihana">
        <div id="vtuber" class="lamy"></div>
    </a>
    <a href="/vtubers/nene-momosuzu">
        <div id="vtuber" class="nene"></div>
    </a>
    <a href="/vtubers/chloe-sakamata">
        <div id="vtuber" class="chloe"></div>
    </a>

    <a href="/vtubers/koyori-hakui">
        <div id="vtuber" class="koyori"></div>
    </a>
</header>
<style>
    header {
        border-bottom: 1px #666 solid;
        height: 64px;
        display: flex;
        justify-content: center;
        gap: 2em;
        padding: 1em 0;
    }

    .choco {
        background: url("/thumbs/Yuzuki-Choco_list_thumb.webp");
    }

    .haato {
        background: url("/thumbs/Akai-Haato_list_thumb.webp");
    }

    .noel {
        background: url("/thumbs/Shirogane-Noel_thumb.webp");
    }

    .marine {
        background: url("/thumbs/Houshou-Marine_thumb.webp");
    }

    .lamy {
        background: url("/thumbs/Yukihana-Lamy_list_thumb.webp");
    }

    .nene {
        background: url("/thumbs/Momosuzu-Nene_list_thumb.webp");
    }

    .chloe {
        background: url("/thumbs/Sakamata-Chloe_list_thumb.webp");
    }

    .koyori {
        background: url("/thumbs/Hakui-Koyori_list_thumb.webp");
    }

    #vtuber {
        width: 64px;
        height: 64px;
        background-position: center;
        background-size: 115%;
        transition: all 0.3s ease-in-out;
        border-radius: 1em;

        & a {
            width: 64px;
            height: 64px;
        }

        &:hover {
            background-size: 150%;
        }
    }

    @media (width < 720px) {
        header {
            gap: 0;
        }
        
        #vtuber {
            border-radius: inherit;
            width: 45px;
            height: 45px;
        }

        .haato {
            border-radius: 2em 0 0 2em !important;
        }

        .koyori {
            border-radius: 0 2em 2em 0 !important;
        }

    }
</style>
