---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import "../styles/global.css"
const {title} = Astro.props
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preload" href="/pinups/chloe-sakamata.webp" as="image" />
        <link rel="preload" href="/pinups/choco-yuzuki.webp" as="image" />
        <link rel="preload" href="/pinups/haato-akai.webp" as="image" />
        <link rel="preload" href="/pinups/koyori-hakui.webp" as="image" />
        <link rel="preload" href="/pinups/lamy-yukihana.webp" as="image" />
        <link rel="preload" href="/pinups/marine-houshou.webp" as="image" />
        <link rel="preload" href="/pinups/miko-sakura.webp" as="image" />
        <link rel="preload" href="/pinups/nene-momosuzu.webp" as="image" />
        <link rel="preload" href="/pinups/noel-shirogane.webp" as="image" />
        <link rel="preload" href="/pinups/sora-tokino.webp" as="image" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <ViewTransitions fallback="none" />
	</head>
	<body>
        <Header />
        <slot />
	</body>
</html>
